{% extends "layout.html" %}

{% block title %} Home {% endblock %}
{% block head %} Welcome to The Home Page {% endblock %}
	
{% block body %}

		<div>
			<ul>
				<li><a href="{{ url_for('follow') }}"> Follow Up </a></li>
				<li><a href="{{ url_for('finance') }}"> Finance </a></li>
				<li><a href="{{ url_for('delay') }}"> Delay / Abscense </a></li>
				<li><a href="{{ url_for('logout') }}"> Exit </a></li>
				<li><a href="{{ url_for('login') }}"> Login </a></li>
				<li><a href="{{ url_for('register') }}"> Register </a></li>
			</ul>
		</div>
	

			<li>{{ student["name"] }} </li>

		<div class="Services"> </div>

{% endblock %}